apiVersion: apps/v1
kind: Deployment
metadata:
  name: catalog-api
  namespace: coresupply-ns
spec:
  replicas: 1
  selector:
    matchLabels:
      app: catalog-api
  template:
    metadata:
      labels:
        app: catalog-api
    spec:
      containers:
        - name: catalog-api
          image: catalogapi:latest
          imagePullPolicy: Never
          ports:
            - containerPort: 8080
          env:
            - name: DatabaseSettings__ConnectionString
              value: "mongodb://core-catalogdb:27017"
---
apiVersion: v1
kind: Service
metadata:
  name: catalog-api
  namespace: coresupply-ns
spec:
  selector:
    app: catalog-api
  ports:
    - port: 80
      targetPort: 8080