apiVersion: apps/v1
kind: Deployment
metadata:
  name: payment-api
  namespace: coresupply-ns
spec:
  replicas: 1
  selector:
    matchLabels:
      app: payment-api
  template:
    metadata:
      labels:
        app: payment-api
    spec:
      containers:
        - name: payment-api
          image: paymentapi:latest
          imagePullPolicy: Never
          ports:
            - containerPort: 8080
          env:
            - name: EventBusSettings__HostAddress
              value: "amqp://guest:guest@core-eventbus:5672"
---
apiVersion: v1
kind: Service
metadata:
  name: payment-api
  namespace: coresupply-ns
spec:
  selector:
    app: payment-api
  ports:
    - port: 80
      targetPort: 8080