apiVersion: v1
kind: ConfigMap
metadata:
  name: ocelot-config
  namespace: coresupply-ns
data:
  ocelot.json: |
    {
      "Routes": [
        {
          "DownstreamPathTemplate": "/api/v1/catalog/{everything}",
          "DownstreamScheme": "http",
          "DownstreamHostAndPorts": [ { "Host": "catalog-api", "Port": 80 } ],
          "UpstreamPathTemplate": "/catalog/{everything}",
          "UpstreamHttpMethod": [ "GET", "POST", "PUT", "DELETE" ]
        },
        {
          "DownstreamPathTemplate": "/api/v1/basket/{everything}",
          "DownstreamScheme": "http",
          "DownstreamHostAndPorts": [ { "Host": "quote-api", "Port": 80 } ],
          "UpstreamPathTemplate": "/basket/{everything}",
          "UpstreamHttpMethod": [ "GET", "POST", "DELETE" ]
        },
        {
          "DownstreamPathTemplate": "/api/v1/order/{everything}",
          "DownstreamScheme": "http",
          "DownstreamHostAndPorts": [ { "Host": "ordering-api", "Port": 80 } ],
          "UpstreamPathTemplate": "/ordering/{everything}",
          "UpstreamHttpMethod": [ "GET", "POST" ]
        },
        {
          "DownstreamPathTemplate": "/api/v1/auth/{everything}",
          "DownstreamScheme": "http",
          "DownstreamHostAndPorts": [ { "Host": "identity-api", "Port": 80 } ],
          "UpstreamPathTemplate": "/auth/{everything}",
          "UpstreamHttpMethod": [ "POST" ]
        }
      ],
      "GlobalConfiguration": {
        "BaseUrl": "http://localhost:9000"
      }
    }